# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.mp4
*.avi
*.mov
*.wmv
*.mpg
*.mpeg
*.flv
*.mkv
# 图片也一并忽略（可选）
*.jpg
*.jpeg
*.png
*.gif